services:

  postgres:
    image: postgres:14.19-alpine3.21
    container_name: gym-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - gym-network
    restart: unless-stopped

  redis:
    image: redis:7.0-alpine
    container_name: gym-redis
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    restart: unless-stopped
    networks:
      - gym-network


volumes:
  postgres:
  redis:

networks:
  gym-network:
    driver: bridge